/* Header and Logo*/

.header {
  background-color: white;
  height: 262px;
}

img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

/* topnavbar*/

.topnavbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
}

.topnavbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 400;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .countdown {
    height: 250px;
    max-width: 100%;
    text-align: center;
    padding: 60px;
    color: #FFF;
    background-color: #B73C3C
  }

  li {
    display: inline-block;
    font-size: 1.0em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 200;
  }

  li span {
    display: block;
    font-family: 'Montserrat';
    font-size: 3.0rem;
    text-align: center;
    font-weight: 300;
  }

  .socialmediabuttons {
    max-width: 100%;
    background-color: white;
    text-align: center;
    padding: 100px;

  }

  .fa  {
    font-size: 25px;
    width: 50px;
  }

  .fa-facebook {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .fa-youtube {
    color: white;
  }

  .fa-twitter {
    color: white;
  }



  /*map*/

  #map {
    display:block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    height: 500px;
  }
