/* Header and Logo*/

.header {
  background-color: white;
  height: 262px;
}

img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

/* topnavbar*/

.topnavbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  overflow: hidden;
}

.topnavbar a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat';
    font-weight: 300;
  }

/*socialmediabuttons*/
.socialmediabuttons {
  background-color: black;
  text-align: center;
  padding: 70px;
}

.fa  {
  font-size: 25px;
  width: 50px;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-snapchat-ghost {
  color: white;
}

.fa-twitter {
  color: white;
}
